.HistoryListItem {
  padding: 15px 20px;
  background: var(--primary-color);
  border-radius: 8px;
  color: var(--inverted-primary-color);
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all .1s ease-in-out;

  &:hover {
    opacity: 0.8;
    scale: 1.1;
  }
}

.panel {
  color: var(--secondary-color);
  overflow: hidden;
}

.panel_header {
  margin: 10px 0 5px;
}

.tabs {
  display: flex;
  gap: 5px;
}
